<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 id="subtitulo" >Registro de asistencia</h4>
  <div  id="container" >
    <h1>Mis asistencias</h1>
  </div>

  <div id="bloques">
    <ion-button id="boton" color="warning"><p>Programacion de aplicaciones móviles</p></ion-button >
    <ion-button id="boton2" color="tertiary"><p>75%</p></ion-button>
    <ion-button id="boton" color="warning"><p>Inteligencia de negocios</p></ion-button>
    <ion-button id="boton2" color="tertiary"><p>80%</p></ion-button>

  </div>
</ion-content>
