<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h4 id="subtitulo" >Registro de asistencia</h4>
  <div  id="container" >
    <h1>¡Bienvenido, "Alumno"!</h1>
  </div>
  <div id="botones" >
    <ion-button [routerLink]="['/asistencia-alumno']"  expand="full" color="warning">Mi asistencia
      
    </ion-button>
    <ion-button [routerLink]="['/asistencia-alumno']"  expand="full" color="warning">Escanear código QR</ion-button>
  </div>

</ion-content>

