:root[mode=ios] .Ruda,
:root[mode=md] .Ruda{
  --ion-font-family:  'Ruda'!important;
  font-family:  'Ruda' !important;
}


#subtitulo{
 font-size: small;
 font-family: Ruda;
}

#titulo{
  font-size: x-large;
  font-family: Ruda;
  align-items: center;
}

#boton{
  font-family: Ruda;
  align-items: center;
  
}
